#about.white-box
  .title-wrapper
    .title Get to know me
  .body
    %p
      = '<img class="third" src="https://dl.dropboxusercontent.com/u/2330299/blog/design/profile-1.jpg" alt="Profile 1"><img class="third" src="https://dl.dropboxusercontent.com/u/2330299/blog/design/profile-2.jpg" alt="Profile 2"><img class="third" src="https://dl.dropboxusercontent.com/u/2330299/blog/design/profile-3.jpg" alt="Profile 3"><img class="third" src="https://dl.dropboxusercontent.com/u/2330299/blog/design/profile-4.jpg" alt="Profile 4"><img class="third" src="https://dl.dropboxusercontent.com/u/2330299/blog/design/profile-5.jpg" alt="Profile 5"><img class="third" src="https://dl.dropboxusercontent.com/u/2330299/blog/design/profile-6.jpg" alt="Profile 6">'.html_safe
    %p
      = "Hi! My name is <b>Karen</b>. Previously a Berkeley biology grad, and now a <b>software engineer</b>, and I could not be happier coding all day and all night (well, except to hang out with my amazing friend/dog, <b>Twinkie</b>!). I think <b>focaccia bread</b> is fantastic, I’ve never turned down a <b>red velvet cupcake</b> or <b>banana cream pie</b>, and I love <b>Japanese ramen</b>. I think carbs are amazing. Feel free to".html_safe
      = link_to 'send me a message here', contact_path
      = '.'
