#about.white-box
  .title-wrapper
    .title Get to know me
  .body
    %p
      = "Hi! My name is <b>Karen</b>. Previously a Berkeley biology grad, and now a <b>software engineer</b>, and I could not be happier coding all day and all night (well, except to hang out with my amazing friend/dog, <b>Twinkie</b>!). Currently, I’m working in Berkeley, California, as a full-stack dev at a Rails shop. I’m all about that Rails/Ruby, CSS, SQL, JavaScript, RSpec/Capybara (best animal ever?), Cucumber, Backbone, and whatever else I can learn (hopefully React when I make some more time for myself). I think <b>focaccia bread</b> is fantastic, I’ve never turned down a <b>red velvet cupcake</b> or <b>banana cream pie</b>, and I love <b>Japanese ramen</b>. Feel free to send me a message here.".html_safe
