$default-color: #333333;
$accent-color: #88D1C8;
$white: #FFFFFF;
$gray: #AAAAAA;
$light-gray: #EEEEEE;
$post-color: #676767;
$red: red;

$default-spacing: 16px;
$main-width: 800px;

$navigation-icon-size: 40px;
