#about {
  .profile-pic {
    width: 130px;
    float: left;
    margin-right: 15px;
  }
}
@media (max-width: 880px) {
  #about {
    img {
      max-width: Calc(100% + 60px);
    }
  }
}
@media (min-width: 880px) {
  #about {
    img {
      max-width: 600px;
    }
  }
}
