@import 'font-awesome-sprockets';
@import 'font-awesome';
@import './variables';

body {
  padding-top: 75px;
  margin: 0;
  font: 14px serif;
  @media (max-width: 800px) {
    padding-top: 40px;
  }
}

a {
  color: $accent-color;
  text-decoration: none;
  cursor: pointer;
  transition: color 300ms;

  &:hover {
    text-decoration: none;
  }
}
