@import './variables';

body {
  padding-top: 75px;
  margin: 0;
  font: 14px serif;
}

a {
  color: $accent-color;
  text-decoration: none;
  cursor: pointer;
  transition: color 300ms;

  &:hover {
    text-decoration: none;
  }
}
