@import 'font-awesome-sprockets';
@import 'font-awesome';
@import './variables';

body {
  margin: 0;
  background-color: #FFFFFF;
  color: $default-color;
  font: 13px 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  transition: color 300ms;
  color: $accent-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}
