.btn {
  border: 0;
  border-radius: 2px;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font: 10px 'Montserrat', sans-serif;
  padding: 9px 12px;
  opacity: 0.9;
  cursor: pointer;
  transition: opacity 200ms;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 1;
  }
}

.btn--primary {
  background-color: $accent-color;




}
