#contact {
  label {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
  }
  input, textarea {
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    font-size: 13px;
    resize: none;
  }
  .send-button {
    border: 1px solid $default-color;
    padding: 6px 12px;
    margin-top: 10px;
    background-color: white;
    font: 12px 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    -webkit-transition: background linear 300ms;
    &:hover {
      background-color: $accent;
    }
  }
  .send-button-wrapper {
    margin-bottom: 0;
  }
}
