$default-color: #000;
$bg-color: #ffffff;
$light-gray: #aaa;
$accent: #f5757b;

body {
  color: $default-color;
  background-color: $bg-color;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-rendering: geometricPrecision;
  line-height: 27px;

  a {
    color: $accent;
    -webkit-transition: color linear 300ms;
    &:link {
      text-decoration: none;
    }
  }
}
.clearfix {
  display: block;
  clear: both;
  content: '';
}
@mixin tag-formatting {
  line-height: 21px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
}
.white-box {
  margin: 50px 0;
  background-color: white;
  .title-wrapper {
    margin-bottom: 10px;
  }
  .title {
    font: 28px 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    a {
      color: $default-color;
    }
  }
  .body {
    p {
      padding: 10px 0;
    }
  }
}
#flash {
  padding: 15px 0;
  position: relative;
  a {
    color: $default-color;
  }
}
.navigation {
  padding: 15px 0;
  background-color: $default-color;
  position: relative;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .inner-nav {
    align-items: center;
    margin: auto auto;
    a {
      color: $bg-color;
      &:hover {
        color: $accent;
      }
    }
    ul {
      font-family: 'Montserrat', sans-serif;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 2px;
      li {
        display: inline;
      }
    }
  }
}
#main-wrapper {
  margin: 80px auto auto auto;
  #left {
    float: left;
  }
  #right {
    float: right;
    .item {
      font-family: sans-serif;
      line-height: 21px;
      font-size: 12px;
      .profile-pic {
        width: 190px;
        margin: 0 auto 15px auto;
        display: block;
      }
      .title {
        font-size: 10px;
        background-color: $default-color;
        color: $bg-color;
        padding: 10px;
        margin-bottom: 10px;
      }
      .all-tags {
        text-align: justify;
        a {
          color: $default-color;
          &:hover {
            color: $accent;
          }
        }
        .css1 { font-size: 0.8em; }
        .css2 { font-size: 1.0em; }
        .css3 { font-size: 1.2em; }
        .css4 { font-size: 1.4em; }
      }
      .social-media {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          color: $default-color;
          &:hover {
            color: $accent;
          }
        }
      }
    }
  }
}
footer {
  font-size: 8px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 15px;
}

@media (max-width: 1050px) {
  .white-box {
    width: 100%;
  }
  .navigation .inner-nav {
    width: 100%;
    flex-direction: column;
    padding: 10px;
    .title {
      margin-bottom: 5px;
    }
    li {
      padding: 0 10px;
    }
  }

  #main-wrapper {
    width: 100%;
    article.post {
      .body img {
        max-width: 100%;
      }
    }
    #left {
      width: 100%;
    }
    #right {
      width: 100%;
      margin-top: -30px;
    }
  }
}
@media (min-width: 1050px) {
  .navigation .inner-nav {
    width: 1050px;
    li {
      padding: 0 40px 0 0;
    }
  }

  #main-wrapper {
    width: 1050px;
    article.post {
      .body img {
        max-width: 744px;
      }
    }
    #left {
      width: 744px;
    }
    #right {
      width: 200px;
    }
  }
}
