$light-gray: #b8c0c2;
$med-gray: #888d8f;
$dark-gray: #575b5c;
$accent: #fa5568;
$gradient-1: #36a6c2;
$gradient-2: #3cd3c3;

@mixin dotted-hover {
  text-decoration: none;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 3px;
}
@mixin gradient($color-1, $color-2) {
  background: $color-1; /* Old browsers */
  background: -moz-linear-gradient(left,  $color-1 0%, $color-2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  $color-1 0%,$color-2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  $color-1 0%,$color-2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$color-1}, endColorstr=#{$color-2},GradientType=1 ); /* IE6-9 */
}

body {
  font: 16px 'Open Sans', sans-serif;
  color: $dark-gray;
  @include gradient($gradient-1, $gradient-2);
  a, .link-style {
    color: $accent;
    transition: color 200ms linear;
    cursor: pointer;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}
b, strong {
  font-weight: 600;
}
input:focus, textarea:focus, button:focus {
  outline: none;
}
#root {
  padding: 30px;
  #react-main {
    background-color: white;
    box-shadow: 0 10px 48px rgba(0, 0, 0, 0.20);
    padding: 0 30px;
  }
  #navigation {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 64px;
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    ul#navigation-links {
      padding: 0;
      margin: 0;
      li {
        display: inline;
        margin-left: 32px;
        font-size: 16px;
        color: $light-gray;
        .fa {
          cursor: pointer;
          transition: color 200ms linear;
        }
        &:hover, a:hover {
          color: $gradient-2;
        }
        a {
          color: $light-gray;

          &.active {
            color: $gradient-1;
          }
        }
      }
    }
  }
  #react-posts, #react-post, #about {
    max-width: 600px;
    margin: auto;
    article {
      margin: 60px auto;
      border-bottom: 1px solid #ddd;
      padding: 30px 0;
      &:last-child {
        border: 0;
      }
      .post-title, .about-title {
        font-size: 50px;
        font-weight: 100;
        text-align: center;
        a {
          color: $dark-gray;
          border: 0;
          &:hover {
            color: $accent;
          }
        }
      }
      a, .link-style {
        border-bottom: 1px dotted #ddd;
        padding-bottom: 3px;
        &:hover {
          border: 0;
        }
      }
      .post-detail {
        font-size: 12px;
        color: $med-gray;
        text-align: center;
        margin-top: 15px;
        em {
          color: $light-gray;
        }
      }
      .post-body, .about-body {
        text-align: justify;
        line-height: 36px;
        padding-top: 30px;
        a:hover, .link-style:hover {
          @include dotted-hover;
          color: $gradient-1;
        }
      }
      .post-more {
        text-align: center;
        margin: 40px auto;
        a {
          border: 1px solid #ddd;
          border-radius: 2px;
          padding: 10px 15px;
          color: #aaa;
          font-size: 10px;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 1px;
          background-color: white;
          transition: color 500ms linear;
          transition: background 500ms linear;
          &:hover {
            transition: color 500ms linear;
            background-color: $gradient-2;
            color: white;
            border: 0;
          }
        }
      }
      .post-header-img > img {
        max-width: 100%;
      }
    }
  }
}
#contact-wrapper, #new-post-wrapper, #edit-post-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  background-color: rgba(0, 0, 0, 0.2);
}
#contact {
  max-width: 400px;
  width: 400px;
  textarea[name=message] {
    resize: none;
    height: 100px;
  }
  input, textarea {
    width: 100%;
    display: block;
  }
}
#new-post, #edit-post {
  max-width: 900px;
  width: 900px;
  input[name=title], input[name=header_image] {
    width: Calc(50% - 10px);
    margin-top: 0px;
  }
  input[name=post_date], input[name=tag_list] {
    width: Calc(50% - 52px);
  }
  input[name=title], input[name=post_date], select[name=status] {
    margin-right: 20px;
  }
  textarea[name=body] {
    resize: none;
    width: 100%;
    height: 100px;
    display: block;
  }
}

#contact, #new-post, #edit-post {
  margin: 0 30px;
  box-shadow: 0 10px 48px rgba(0, 0, 0, 0.20);
  background-color: white;
  select {
    -webkit-appearance: none;
  }
  input, select {
    height: 37px;
  }
  input, textarea, select {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 14px;
    border-radius: 2px;
  }
  .exit-bar {
    background-color: $accent;
    text-align: right;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  .message-body, .new-post-body {
    padding: 50px;
    &.center {
      text-align: center;
    }
    .fa-heart {
      font-size: 70px;
      color: $accent;
      margin-bottom: 20px;
    }
    @-webkit-keyframes beating {
      from{
        -webkit-transform: scale(0.9);
      }
      to{
        -webkit-transform: scale(1);
      }
    }
    .fa-heart {
      -webkit-animation: beating 0.7s ease 0s infinite normal;
    }
    .message-intro {
      margin-bottom: 20px;
      font-size: 12px;
      color: $med-gray;
    }
    .error-message {
      color: red;
      font-size: 12px;
      text-align: left;
      margin-bottom: 20px;
    }
    .submit-wrapper {
      text-align: right;
      button {
        margin-top: 20px;
        background-color: $accent;
        border: 0;
        color: white;
        border-radius: 2px;
        padding: 10px 17px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1.5px;
        transition: color 500ms linear;
        transition: background 500ms linear;
        i {
          margin-right: 10px;
        }
        &:hover {
          padding: 9px 16px;
          border: 1px solid #ddd;
          color: #aaa;
          background-color: white;
        }
        &:focus {
          background-color: $light-gray;
        }
      }

    }

  }
}
#footer {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 64px;
  font-size: 10px;
  color: $light-gray;
  text-align: center;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
}
@media (max-width: 758px) {
  #root {
    #react-posts, #react-post, #about {
      article {
        padding: 0 0 30px 0;
        .post-title, .about-title {
          font-size: 6vw;
          line-height: 36px;
        }
        .post-body, .about-body {
          font-size: 12px;
          line-height: 27px;
        }
      }
    }
  }
}

// modal animation
.auto-enter {
 opacity: 0.01;
}

.auto-enter.auto-enter-active {
 opacity: 1;
 transition: opacity 500ms, transform 500ms;
}

.auto-leave {
 opacity: 1;
}

.auto-leave.auto-leave-active {
 opacity: 0.01;
 transition: opacity 500ms, transform 500ms;
}

.new-post {
  .error-message {
    color: red;
    font-size: 12px;
  }
}

@keyframes loading1 {
  from{ transform: scale(0.001); }
  to{ transform: scale(1); }
}
@keyframes loading2 {
  from{ transform: scale(0.001); }
  to{ transform: scale(1); }
}
@keyframes loading3 {
  from{ transform: scale(0.001); }
  to{ transform: scale(1); }
}
.loader {
  .dot1, .dot2, .dot3 {
    width: 10px;
    height: 10px;
    background-color: $accent;
    border-radius: 50%;
    float: left;
    margin: auto 5px;
  }
  .dot1 {
    animation: loading1 0.9s ease 0s infinite normal;
  }
  .dot2 {
    animation: loading2 0.9s ease 1s infinite normal;
  }
  .dot3 {
    animation: loading3 0.9s ease 2s infinite normal;
  }
}
