$default-color: #414141;
$bg-color: #ffffff;
$light-gray: #eee;
$teal: #88d1c8;

body {
  color: $default-color;
  background-color: $bg-color;
  font-size: 13px;
  font-family: serif;
  font-weight: 400;
  text-rendering: geometricPrecision;
  line-height: 27px;
  a {
    color: $teal;
    -webkit-transition: color linear 300ms;
    &:link {
      text-decoration: none;
    }
  }
}
.padding-30 {
  padding: 30px;
}
.clearfix {
  display: block;
  clear: both;
  content: '';
}
@mixin tag-formatting {
  line-height: 21px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
}
.white-box {
  padding: 30px;
  background-color: white;
}
#flash {
  padding: 15px 0;
  position: relative;
  a {
    color: $default-color;
  }
}
navigation {
  .fa-bars {
    position: absolute;
    top: 60px;
    left: 60px;
    z-index: 1;
    font-size: 24px;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
  }
  .fa-bars:hover {
    opacity: 0.6;
  }
  #menu {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-transform: lowercase;
    font-style: italic;
    position: absolute;
    top: 60px;
    left: 60px;
    text-align: center;
    z-index: 1;
    color: white;
    a {
      color: white;
      &:hover {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: inline;
        padding: 0 5px;
      }
    }
  }
}

.social-media {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  max-width: 350px;
  margin: auto;
  padding-top: 30px;
  a {
    color: $default-color;
    &:hover {
      color: $teal;
    }
  }
}
footer {
  font: 7px 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  line-height: 30px;
  left: 30px;
  color: white;

  -ms-transform: rotate(-90deg); /* IE 9 */
  -ms-transform-origin: 0px 0px; /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin: 0px 0px; /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  transform-origin: 0px 0px;
}

@media (max-width: 768px) {
  #menu {
    width: Calc(100vw - 110px);
  }
  footer {
    bottom: Calc(25vh + 15px);
  }
}
@media (min-width: 768px) {
  #menu {
    width: Calc(50vw - 100px);
  }
  footer {
    bottom: 15px;
  }
}
