@import './variables';

.form--input,
.form--textarea {
  margin: 6px 0;
  padding: 6px 0;
  border: 0;
  border-bottom: 1px solid $gray;
  font: 13px 'Lato', sans-serif;
  resize: none;
  box-sizing: border-box;

  &:focus {
    border-color: $accent-color;
    outline: none;
  }
}
