@import './variables';

.main {
  width: $main-width;
  padding: 70px 100px 100px 100px;
  margin: auto;
  background-color: $white;
  box-sizing: border-box;

  @media (max-width: 800px) {
    width: 100%;
  }
}

footer {
  margin: 70px auto 20px;
  color: $white;
  text-align: center;
  font-size: 10px;
}
