@import './variables';

.container {
  width: $container-width;
  margin: auto;
  overflow: hidden;
}

.main {
  width: $main-width;
  float: left;
}

.sidebar {
  width: $sidebar-width;
  float: right;
}

footer {
  margin: 10px;
  text-align: center;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}
