@import './variables';

.container {
  width: $container-width;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
  @media (max-width: 800px) {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.main {
  width: $main-width;
  @media (max-width: 800px) {
    width: 100%;
  }
}

.sidebar {
  width: $sidebar-width;
}

footer {
  margin: 10px;
  text-align: center;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}
