@import './variables';

.navigationBar {
  width: 220px;
  padding: 50px 30px 15px;
  font: 10px 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.navigationBar--inner {
  display: flex;
  justify-content: space-between;
}

.navigationBar--link {
  transition: all 500ms;
  opacity: 0.2;
  color: $black;
  font-size: $navigation-icon-size;

  &:hover {
    opacity: 1;
  }
}

.navigationBar--link-is-selected {
  opacity: 1;
}
