article.post {
  .title-wrapper {
    time {
      font-size: 11px;
      letter-spacing: 0.5px;
      color: #aaa;
    }
  }
  .body {
    .read-full {
      color: $default-color;
      font: 13px 'Montserrat';
      text-transform: uppercase;
      &:hover {
        color: $teal;
      }
    }
    code {
      max-width: 100%;
      overflow: scroll;
      display: inline-block;
      position: relative;
      top: 4px;
      line-height: 14px;
    }
  }
  .tags {
    @include tag-formatting;
    text-align: center;
    border-top: 1px solid $light-gray;
    padding: 10px 30px 30px 30px;
    margin-bottom: -10px;
  }
  .admin-buttons {
    margin-top: 10px;
    text-align: center;
  }
}
