@import './variables';

.post {
  margin: 30px 0;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 30px;
}

.post--title {
  color: $default-color;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
}

.post--date {
  color: $accent-color;
  font: 8px 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
}

.post--body {
  line-height: 28px;
  -webkit-font-smoothing: antialiased;

  img {
    margin: 2px;

    &.half {
      width: Calc(50% - 4px);
    }

    &.full {
      width: Calc(100% - 4px);
    }

    &.one-third {
      width: Calc((100% - 8px) * 6/13 * 2/3);
    }

    &.two-third {
      width: Calc((100% - 8px) * 6/13 * 3/2);
    }
  }
}
