@import './variables';

.post {
  margin: 30px 0;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 30px;
}

.post--title {
  color: $default-color;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
}

.post--date {
  color: $accent-color;
  font: 8px 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
}

.post--body {
  line-height: 28px;
    -webkit-font-smoothing: antialiased;
}
