article.post {
  .title-wrapper {
    time {
      font-size: 11px;
      color: $light-gray;
      a {
        color: $light-gray;
        font-style: italic;
      }
    }
  }
  .body {
    img {
      margin: 2px;
      &.half {
        width: Calc(50% - 4px);
      }
      &.full {
        width: Calc(100% - 4px);
      }
      &.one-third {
        width: Calc((100% - 8px) * 6/13 * 2/3);
      }
      &.two-third {
        width: Calc((100% - 8px) * 6/13 * 3/2);
      }
    }
    .read-full {
      color: $default-color;
      font: 13px 'Montserrat';
      text-transform: uppercase;
      &:hover {
        color: $accent;
      }
    }
    code {
      max-width: 100%;
      overflow: scroll;
      display: inline-block;
      position: relative;
      top: 4px;
      line-height: 14px;
    }
  }
  .admin-buttons {
    margin-top: 10px;
    text-align: center;
  }
}
