@import './variables';

.sidebar--profileImage {
  width: 190px;
  margin: 0 auto 15px;
  display: block;
}

.sidebar--intro {
  text-align: center;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
}

.sidebar--socialMedia {
  border-top: 1px solid $light-gray;
  padding-top: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.sideBar--socialMediaLink {
  color: $default-color;

  &:hover {
    color: $accent-color;
  }
}
